.Main {
    margin-top: 5vh;

    width: 99.8vw;
    height: 60vh;
    display: flex;
    flex-direction: row;
    justify-content: center;

}

.Image {
    height: 600px;
    width: 800px;
    margin-right: 10vw;
}

.ItemInfo {
    width: 30vw;
    display: flex;
    flex-direction: column;
    font-size: larger;
}

.ButtonBox {
    display: flex;
    flex-direction: row;
    align-items: center;
    
}

.Button {
    height: 40px;
    width: 40px;
    margin: 4px;
    border-radius: 50px;
    background-color: #2b1d42;
    color: white;

    font-size: 20px;

    &:hover {
        cursor: pointer;
        opacity: 0.5;
        transition: 0.2s;
        
    }
}
.CartButton {
    margin-top: 30px;
    margin-bottom: 20px;
    background: rgb(226, 115, 134);
  border-radius: 50px;
  box-shadow: #5E5DF0 0 10px 20px -10px;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  outline: 0 solid transparent;
  padding: 15px 25px;
  width: fit-content;
   border: 0;
   &:hover {
    opacity: 0.7;
   }
}

.SelectBox {
    height: 30px;
    font-size: 15px;
    width: 100px
}

.Label {
    margin-top: 10px;
    margin-bottom: 10px;
}
.Stock {
    font-size: 15px;
}